/* Reset y Base */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
  background-color: #0f172a; /* Azul muy oscuro profesional */
  color: #e2e8f0;
}

/* Header */
header {
  background: #1e293b;
  padding: 1.5rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #38bdf8; /* Color Celeste Dev */
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}
header h1 span {
  color: #38bdf8;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-left: 20px;
}
nav ul li a {
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #38bdf8;
}

/* Contenido */
main {
  padding: 3rem 10%;
  min-height: 75vh;
}
h2,
h3 {
  color: #38bdf8;
}

.hero img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #334155;
}

.btn-link {
  display: inline-block;
  background: #38bdf8;
  color: #0f172a;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px 0;
}

/* Formulario e Info */
.info-contacto {
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.info-contacto a {
  color: #38bdf8;
  text-decoration: none;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  background: #1e293b;
  border: 1px solid #334155;
  color: white;
  border-radius: 6px;
}

button {
  background: #38bdf8;
  color: #0f172a;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

button:hover {
  background: #7dd3fc;
}

/* Footer */
footer {
  background: #020617;
  text-align: center;
  padding: 2rem;
  color: #64748b;
  border-top: 1px solid #1e293b;
}
